<h1 class="col-12 text-center my-4">CHAT</h1>
<div class="col-12 px-0" id="chat">
    <div class="col-7 d-flex flex-column p-3 font-italic align-items-start mx-auto overflow-auto border"  id="cajaMensajes"></div>
</div>
<form class="col-7 row bg-white p-4 mx-auto border" autocomplete="off" id="inputMensaje" onsubmit="return sendMessage()">
    <div class="form-group col-12 col-lg-10">
        <input type="text" placeholder="Mensaje" class="form-control form-control-lg " name="message" id="message">
    </div>
    <input type="submit" class="col-12 col-lg-2 btn btn-primary">
</form>