<h1 class="col-12 my-5 text-center display-2">Form para cargar productos</h1>
<form class="col-7 bg-white p-4 mx-auto border" onsubmit="return sendProducto()">
    <div class="form-group">
        <label>Nombre</label>
        <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group">
        <label>Precio</label>
        <input type="number" class="form-control" name="price" id="price">
    </div>
    <div class="form-group">
        <label>URL Imagen (opcional)</label>
        <input type="text" class="form-control" name="thumbnail" id="thumbnail">
    </div>
    <button type="submit"  class="btn btn-primary">Cargar Producto</button>
</form>
<%- include('./chat'); %>