<h1 class="col-12 my-5 text-center display-2">Inicio de sesión</h1>
<form class="col-7 bg-white p-4 mx-auto border" method="post" action="/login/auth">
    <div class="form-group">
        <label>Ingrese su usuario:</label>
        <input class="form-control" type="text" name="username" id="username">
    </div>
    <button type="submit"  class="btn btn-primary">Iniciar sesión</button>
</form>